/* Estilo do contêiner principal */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  height: 100vh;
}

.TimeTXT {
  font-size: 30px;
}

/* Caixa de entrada para o link do vídeo */
#video-url {
  width: 97%;
  max-width: 800px;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Estiliza o iframe do vídeo para que ocupe o tamanho correto */
#video-frame {
  width: 100%;
  height: 450px;
  width: 1000px;
  border: none;
  max-width: 800px;
  margin: 0 auto; /* Centraliza horizontalmente */
  display: block;
}

/* Seção de informações adicionais */
#info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 800px;
  margin-top: 10px;
}

/* Tempo atual */
#current-time {
  font-weight: bold;
}

/* Input para o nome do KeyPoint */
#keypoint-name {
  width: 60%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Botão para adicionar KeyPoint */
#new-keypoint {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

#new-keypoint:hover {
  background-color: #0056b3;
}

/* Lista de KeyPoints */
#keypoints-list {
  width: 80%;
  max-width: 800px;
  margin-top: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#keypoints-list div {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

#keypoints-list div:last-child {
  border-bottom: none;
}
